#carousel {
  max-width: 60%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.carousel-image {
  width: 60%;
  display: block; 
  transition: opacity 0.5s ease-in-out; 
  position: absolute; 
  top: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0; 
}


.visible {
  opacity: 1; 
  position: relative; 
}


.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.left {
  left: 10px;
}

.carousel-control.right {
  right: 10px;
}

.hidden {
  opacity: 0;
  visibility: hidden; 
}


@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

html{
	font-family: "Nunitos", Times, sans-serif;
}

body, h1, h2, h3, p, ul, li {
  font-family: "Nunito", Arial, sans-serif;
}

h1 {
  color: #2b6ca3; 
}

nav ul li a {
  color: #333d9e; 
}

nav ul li a.active,
nav ul li a:hover {
  border-bottom: 3px solid #23527C;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #2b6ca3;
  color: #ffffff;
  font-size: 1rem;
}
