body {
    font-family: 'Arial', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E6F4F1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo-container {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#logo {
    height: 50px; 
    margin-right: 15px;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 1.6em;
    color: #3071A9; 
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: #E6F4F1;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3071A9;
    font-size: 1.1em;
}

nav ul li a.active,
nav ul li a:hover {
    color: #23527C;
    border-bottom: 3px solid #23527C;
}

#carousel {
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.carousel-image {
    width: 100%;
    display: none; /* Hidden by default, shown by JS */
}

footer {
    background-color: #E6F4F1;
    color: #555;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #logo {
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
    }
}
